* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
  }
  body {
    background-color: #e8edf2;
  }
  div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 30px;
    box-shadow: 0 50px 50px -50px darkslategray;
    /* border-radius: 100px; */
  }
  
  div.container div.myform {
    width: 400px;
    margin-right: 30px;
    height: 500px;
  }
  
  h1 {
    color: #1c1c1e;
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: bolder;
    /* text-align: center; */
  
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  div.container div.myform input {
    /* border: none; */
    outline: none;
    border-radius: 0;
    width: 100%;
  
    /* border-bottom: 2px solid #1c1c1e; */
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin-bottom: 20px;
    /* padding: 18px 0; */
    padding: 15px;
    font-size: 15px;
    
  }
  
  div.container div.myform button :hover {
    background: black;
    color: black;
  }
  button{
    width:100%;
    padding: 18px 0;
    padding: 10px;
    font-size: 15px;
    background-color: rgb(209, 122, 16);

  }
  img{
    display: block;
    margin: auto;
    display: flex;
  }
  h2 {
    margin-top: 2px;
    padding: 10px;
  }
  
  label {
   
    position: relative;
    border-color: rgb(18, 14, 14);
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    
    margin-top: -20px;
  }
  p {
    margin-top: 40px;
    text-align: center;
  }
  button :hover {
    background-color: black;
    cursor: pointer;
    outline: #1c1c1e;
    border: none;
  }
  a {
    text-decoration: none;
    color: blue;
  }
  a {
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: red;
  }
  .inputgroup {
    margin-bottom: 20px;
    padding: 5px 10px;
  }